<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true"
         failOnWarning="true">
    <testsuites>
        <testsuite name="default">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <!-- Views ausgenommen, da gemischte HTML/PHP-Templates nicht sinnvoll abdeckbar. -->
    <source>
        <include>
            <directory>app</directory>
            <directory>helpers</directory>
        </include>
        <exclude>
            <directory>app/views</directory>
        </exclude>
    </source>
    <php>
        <!-- Vor dem Autoload gesetzt, damit die DB_PATH-Abfrage die In-Memory-DB nimmt und nie forum.sqlite trifft. -->
        <env name="DB_PATH" value=":memory:"/>
    </php>
</phpunit>
